:root {
    overflow: hidden;
    min-height: 100%;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-bar-section {
    height: 10vh;
}

.middle-section {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.right-panel {
    height: inherit;
}

h1 {
    padding-top: 4px;
}

.icon {
    transition: 0.2s;
}

.icon:hover {
    color: #17a2b8;
}

.modalMap .leaflet-container {
    height: 50vh;
    width: 100%;
}

.icon {
    position: absolute;
    right: 35vw;
}

.TabIndicator-colorSecondary-151 {
    background-color: #fff !important;
}

.MuiNotchedOutline-root-122 {
    border-color: #fff !important;
}

.MuiFormLabel-root-85.MuiFormLabel-focused-86 {
    color: #fff !important;
    background-color: #1e87e5 !important;
}

.MuiInputBase-input-115 {
    color: #fff !important;
}

.search-field label {
    color: #fff;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Media Querys */
@media only screen and (max-width: 670px) {
}
